 * {
   font-family: 'Exo 2', sans-serif;
 }

 #header {
   height: 750px;
   width: 200px;
   background-color: lavender;
   margin: 3px;
   float: left;
   border-style: double;
 }

 span {
   font-size: 90%;
 }

 a {
   color: cornflowerblue;
 }

 a:hover {
   color: blue;
 }

 #nav {
   height: 290px;
   width: 75%;
   float: right;
   background-color: lavender;
   margin: 3px;
   border-style: double;
 }

 #section {
   height: 180px;
   width: 75%;
   background-color: lavender;
   float: right;
   margin: 3px;
   border-style: double;
 }

 #aside {
   height: 490px;
   width: 75%;
   background-color: lavender;
   float: right;
   margin: 3px;
   border-style: double;
 }

 #footer {
   height: 160px;
   width: 75%;
   float: right;
   background-color: lavender;
   margin: 3px;
   border-style: double;
 }

 img {
   width: 120px;
   height: 100px;
 }

 h2 {
   font-family: 'Exo 2', sans-serif;
   text-decoration: underline;
   letter-spacing: 1px;
   text-shadow: 4px 4px 4px steelblue;
 }

 h3 {
   font-family: 'Exo 2', sans-serif;
   text-decoration: underline;
   letter-spacing: 1px;
   text-shadow: 4px 4px 4px steelblue;
 }

 button {
   border: 2 px solid black;
   padding: 5px 10px;
   background-color: cornflowerblue;
   border-style: double;
   color: azure;
   letter-spacing: 2px;
   cursor: pointer;
   box-shadow: 4px 4px 8px steelblue;

 }

 .button:hover {
   color: white;
   background-color: rgb(9, 3, 58);
 }

 .button {
   transition: 0.8s;
 }

 progress {
   width: 60%;
 }

 .iconos {
   text-align: center;
 }

 body::-webkit-scrollbar {
   width: 10px;
 }

 body::-webkit-scrollbar-thumb {
   background-color: darkblue;
   border-radius: 15px;
 }

 body::-webkit-scrollbar-thumb:hover {
   background-color: cornflowerblue;
 }